.dobDiv{
background-color: #00B4D8;
color: rgb(0, 0, 0);
font-size: large;
height: 100px;
width: 500px;
border-radius: 20px;
margin-left: 20px;
padding: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dobButton{
color: #000;
height: 40px;
width: 100px;
border-radius: 20px;
border: none;
text-align: center;
margin-left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
#dateOfBirth{
    margin-left: 10px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: brown;
}
.dateOfBirth{
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    background-color:#000;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    height: 50px;
width: 500px;
    
}